@use "../../global" as *;


.p-news {
  padding-top: 58px;
  padding-bottom: 46px;

  @include mq(lv767) {
    padding-top: 48px;
  }

  &__body {
    margin-top: 46px;
  }

  &__pagination {
    margin-top: 72px;
    height: 50px;
    background-color: gray;
  }
}