@use "../../global" as *;


.p-sub-nav {
  display: flex;

  @include mq(lv1280) {
    flex-direction: column;
    row-gap: 40px;
  }

  &__info {
    align-self: flex-end;
    margin-right: 23px;

    @include mq(lv1280) {
      align-self: auto;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;
    }
  }

  &__text {
    margin-bottom: 10px;
    font-size: 12px;
    text-align: right;

    @include mq(lv1280) {
      margin-bottom: 0;
    }
  }

  &__tel-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;

    @include mq(lv1280) {
      justify-content: center;
    }
  }

  &__tel {
    display: block;
    font-weight: bold;
  }

  &__btn-wrapper {
    display: flex;
    column-gap: 10px;

    @include mq(lv1280) {
      justify-content: center;
    }
  }

  &__btn {
    display: grid;
    place-items: center;
    height: 100%;
    width: 142px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;

    @include mq(lv1280) {
      height: 50px;
    }

    &--orange {
      background-color: $orange;
    }

    &--blue {
      background-color: $main-color;
    }
  }
}