@use "../../global" as *;


.p-top-news-item {
  &__date {
    font-size: 12px;
  }

  &__title {
    margin-top: 12px;
    text-decoration: underline;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;

    @include mq(lv767) {
      -webkit-line-clamp: 2;
    }
  }
}