@use "../../global" as *;


.p-top-blog-item {
  &__link {
    display: flex;
    column-gap: 20px;

    @include mq(lv767) {
      display: block;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 150px;

    @include mq(lv767) {
      width: auto;
      height: 180px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: $main-color;
    padding: 6px 9px;
  }

  &__text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include mq(lv767) {
      margin-top: 14px;
    }
  }

  &__title {
    font-weight: bold;
    line-height: calc(27 / 16);
    text-decoration: underline;
  }

  &__date {
    margin-top: auto;
    font-size: 12px;

    @include mq(lv767) {
      margin-top: 16px;
    }
  }
}